
<div class="container">
    <form action="${currentPage.path @selectors='servletContactForm.json'}" method="POST">
        <label for="fname">Nome</label>
        <input type="text" id="fname" name="firstName" placeholder="Mario" value="${properties.firstName}">

        <label for="lname">Cognome</label>
        <input type="text" id="lname" name="lastName" placeholder="Rossi" value="${properties.lastName}">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="example@gmail.com" value="${properties.email}">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="italia" ${properties.country == 'italia' ? 'selected' : ''}>Italia</option>
            <option value="australia" ${properties.country == 'australia' ? 'selected' : ''}>Australia</option>
            <option value="canada" ${properties.country == 'canada' ? 'selected' : ''}>Canada</option>
            <option value="usa" ${properties.country == 'usa' ? 'selected' : ''}>USA</option>

            <option value="svizzera" ${properties.country == 'svizzera' ? 'selected' : ''}>Svizzera</option>
            <option value="francia" ${properties.country == 'francia' ? 'selected' : ''}>Francia</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px">${properties.subject}</textarea>

        <input id="submitButton" type="button" value="Submit">
    </form>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>

<sly data-sly-call="${clientlib.all @ categories='wknd.contactform'}"></sly>